* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.project {
  padding: 40px 80px;
}

.project-body {
  font-family: open-sans, sans-serif;
}

.project-container {
  width: 1400px;
  background-color: #efefef;
  margin: 0 auto;
}

.header {
  background-color: #43281c;
  color: #fbf2c0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 60px 30px 40px;
}

.top-section {
  display: flex;
  gap: 40px;
}

.section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  width: 100%;
  background-color: #ede0d4;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 15px;
}

.card-title {
  margin-bottom: 35px;
  color: #8f643d;
  font-weight: bold;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.items-list li:last-child {
  border-bottom: none;
}

.name-price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
}

.quantity {
  color: #43281c;
  margin-right: 10px;
  font-weight: normal;
}

.extras {
  color: #8f643d;
  margin-left: 30px;
}

.item {
  border-bottom: #ddb892 1px solid;
  padding-bottom: 20px;
  padding-right: 40px;
}

.info {
  padding-bottom: 25px;
}

.input {
  background-color: #ede0d4;
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  border: 2px solid #8f643d;
}

.ccv {
  width: 250px;
}

.input-group {
  position: relative;
}

.input-label {
  position: absolute;
  left: 30px;
  top: -9px;
  background-color: #ede0d4;
  padding: 0 2px;
  color: #8f643d;
}

.payment-options {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 10px;
}

.bottom-section {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.totals-section {
  display: flex;
  justify-content: center;
}

.total-items {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.total-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.total {
  margin-top: 10px;
  font-weight: bold;
}

.order-section {
  padding: 0 20px;
}

.order-button {
  width: 100%;
  padding: 15px;
  background-color: #ddb892;
  color: #43281c;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: large;
}

.home-link {
  display: flex;
  justify-content: center;
  padding: 40px;
}
