* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Snell Roundhand";
  src: url("https://cdn.jsdelivr.net/npm/fonts-archive-snell-roundhand/SnellRoundhand-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/npm/fonts-archive-snell-roundhand/SnellRoundhand-Regular.woff")
      format("woff");
  font-weight: 400; /* Regular weight */
  font-style: normal;
  font-display: swap;
}

.newspaper-layout {
  padding: 50px 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.newspaper-header {
  text-align: center;
  font-family: "Snell Roundhand", cursive;
  font-size: 80px;
  font-weight: normal;
}

.article-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav" "ar1 ar2 ar3" "ar4 ar5 ar5"
    "footer footer footer";
  border: 2px solid black;
}

nav {
  grid-area: nav;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border: 2px solid black;
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  font-family: "Futura", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #666;
}

.nav-list li a:hover {
  text-decoration: underline;
}

.article-section {
  border: 2px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article-header {
  font-size: 35px;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.image-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}

.ar1 {
  grid-area: ar1;
}

.ar2 {
  grid-area: ar2;
}

.ar3 {
  grid-area: ar3;
}

.ar4 {
  grid-area: ar4;
}

.ar5 {
  grid-area: ar5;
}

.article-footer {
  grid-area: footer;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
