* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.project-container {
  padding: 40px 50px;
  display: flex;
  justify-content: center;
}

.calculator-container {
  border: 6px solid black;
  border-radius: 12px;
  height: 650px;
  width: 500px;
  padding: 24px;
  background-color: gray;
}

.calculator-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: black;
  height: 100%;
  border: 6px solid black;
  border-radius: 12px;
}

.calculator-input {
  height: 16.6667%;
  width: 100%;
  border-radius: 6px;
  padding: 24px;
  background-color: black;
  color: white;
  font-size: 36px;
}

.row {
  height: 16.6667%;
  width: 100%;
  display: flex;
  gap: 6px;
}

.btn {
  background-color: antiquewhite;
  border-radius: 12px;
  height: 100%;
  font-size: 36px;
  cursor: pointer;
}

.btn:hover {
  opacity: 80%;
}

.op {
  background-color: chocolate;
  color: white;
  width: 25%;
}

.clear {
  width: 50%;
}

.back {
  width: 25%;
}

.num {
  width: 25%;
}

.zero {
  width: 75%;
}

/* cal2 */

.cal2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 6px;
  height: 100%;
}

.clear2 {
  grid-column: span 2;
}

.btn2 {
  background-color: antiquewhite;
  border-radius: 12px;
  font-size: 36px;
  cursor: pointer;
}

.btn2:hover {
  opacity: 80%;
}

.op2 {
  background-color: chocolate;
  color: white;
}

.zero2 {
  grid-column: span 3;
}
